* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --cinzazul: #4C6276; 
    --azulesc: #202638;
    --cinza: #D9D9D9;
    --preto: #000000;
    --branco: #ffffff;
    --azulcla:#53B8DD;
    --azulmaiscla:#A6EEF6;
    --cinzacla:#E5E5E5;
    --brancofundo:#ffffff;
    --roxin:#7E93E3;
    --cinzaesc:#b3b3b3;

}
body.dark {
    --cinzazul: #212529; 
    --azulesc: #000000;
    --cinza: #383838;
    --preto: #ffffff;
    --branco: #ffffff;
    --azulcla:#2a363a;
    --azulmaiscla:#415355;
    --cinzacla:#424242;
    --brancofundo:#696969;
    --roxin:#ffffff;
    --cinzaesc:#1f1f1f;
  }
#home{
    height: 500%;
    width: 99%;
}
.nome{
    color:var(--branco);
    font-size: 30px;
}
body {
    background-color:var(--cinza);
    color: var(--preto);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    color:var(--branco);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


header {
    background-color:var(--azulesc);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    padding: 8px 12px;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color:var(--azulcla);
}
.copyright{
    background-color: #454444;
position: absolute;
top: 100%;
width: 100%;
}
.copyright p{
color: var(--branco);
text-align: center;
}
footer{
    background-color:var(--brancofundo);
    position: absolute;
    top: 110%;
    width: 100%;
    height: 90vh;
}
#contato{
    text-align: center;
    font-size: 50px; 
}
.quadradocontatos{
margin-top: 10%;
margin-left: 22.5%;
}
#linha1contato li{
    display: inline-block;
}
#linha2contato li{
    display: inline-block;
    margin-top: 5%;
}
#quadrado1c{
    margin-left: 7.5%;
    color:var(--preto);
}
#tele{
    font-size: 1.5rem;
    text-align: center;
}
#num{
    text-align: center;
}
#quadrado2c{
    margin-left: 5%;
    color: var(--preto);
}
#quadrado4c{
    margin-left: 7.5%;
    color: var(--preto);
}
#quadrado5c{
    margin-left: 5%;
    margin-right: 5%;
    color: var(--preto);
}
.quadradosc{
    height: 20vh;
    width: 25%;
    background-color:var(--cinzacla);
    box-shadow: 0 5px 5px 0 #939393;
    border-radius: 5%;
}
.imgscontato{
    margin: 5%;
    text-align: center;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }
      
      .switch input { display: none; }
      
      .slider {
        position: absolute;
        background-color: var( --cinzacla);
        border-radius: 20px;
        top: 0; left: 0; right: 0; bottom: 0;
        cursor: pointer;
        transition: .3s;
      }
      
      .slider:before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        left: 2px;
        bottom: 2px;
        background-color: var(--branco);
        border-radius: 50%;
        transition: .3s;
      }
      
      input:checked + .slider {
        background-color: #2196f3;
      }
      
      input:checked + .slider:before {
        transform: translateX(20px);
      }


      .modal {
        display: none;
        position: fixed;
        inset: 0;
        background: var(--azulcla);
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10%;
      }
      
      .modal-conteudo {
        background: var(--fundo);
        color: var(--texto);
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        text-align: center;
      }
      
      .fechar {
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      button {
        background: none;
        border: 1px solid var(--texto);
        color: var(--texto);
        margin: 0 3px;
        padding: 5px 10px;
        cursor: pointer;
      }
      
      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
       
      }
      
      .card {
        background: var(--azulcla);
        padding: 40px 0;
        text-align: center;
        cursor: pointer;
        color: var(--preto);
      }
      
      .modal {
        display: none;
        position: fixed;
        inset: 0;
        background: rgba(1, 109, 128, 0.6);
        justify-content: center;
        align-items: center;
      }
      
      .modal-conteudo {
        background: var(--fundo);
        color: var(--texto);
        padding: 20px;
        border-radius: 5px;
        width: 250px;
        text-align: center;
      }
      
      .fechar {
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      #cpf{
        width: 50%;
        height: 50%;
      }